# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore
.vscode/
.history/
.idea/
*.iml

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/
*.png
config.yaml
gemini_cookies